.subpage{
    display: flex;
    flex-direction: column;
    width: 86%;
    align-items: center;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.subpage-full{
    width: 100%;
}

.subpage-title{
    padding: 10px;
    font-weight: bolder;
    font-size: 30px;
}

.subpage-intro{
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 85%;
    line-height: 30px;
    text-align: center;
}

.data-box{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 181, 181);
    overflow: scroll;
    width: 95%;

}