.data-map-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(251, 209, 209, 0.789);
    justify-content: space-around;
}

.data-map{
    background-color: rgb(100, 183, 255);
    margin: 10px;
}