.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
  }

  .header-icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-menu{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
  }

  .header-menu:hover{
    background-color: rgb(212, 212, 212);
  }
  
  .header-icon{
    margin-left: 30px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .header-title{
    font-size: 30px;
    font-weight: 800;
  }
  
  .header-signin-button{
    padding: 5px 15px;
    margin-right: 20px;
  }